<tables>
    <!-- Location of ml-models files -->
    <table name="ml_models" comment_char="#">
        <columns>value, name, variant, version, display_name, path, model_type, compatibility, sort_key </columns>
        <file path="tool-data/ml_models.loc" />
    </table>
</tables>